* {
    margin: 0;
    padding: 0;
}
body {
    height: 500vh;
    background: black;
}
:root {
    --font-family:  Noto Sans Japanese, serif;
    --color: rgb(232, 234, 237);
    --transition: 0.5s;
}